<div class="content" role="main">
  <h2>Quote suggestions</h2>
  <p>Chose quotes from the list</p>
  <div class="quote-container-sidebar">
    <div id="quote-suggestion-list">
      <ul class="list-group sidelist " >
        <li class="list-group-item">
          <p>my test tuote</p>
          <p class="author">(my test tuote)</p>
          <button class="input-group-text right-btn"><i class="fa fa fa-plus"></i></button></li>
        <li class="list-group-item">
          <p>my test tuote</p>
          <p class="author">(my test tuote)</p>
          <button class="input-group-text right-btn"><i class="fa fa-plus"></i></button></li>
        <li class="list-group-item">
          <p>my test tuote</p>
          <p class="author">(my test tuote)</p>
          <button class="input-group-text right-btn"><i class="fa fa-plus"></i></button></li>
        <li class="list-group-item">
          <p>my test tuote</p>
          <p class="author">(my test tuote)</p>
          <button class="input-group-text right-btn"><i class="fa fa-plus"></i></button></li>
        <li class="list-group-item">
          <p>my test tuote</p>
          <p class="author">(my test tuote)</p>
          <button class="input-group-text right-btn"><i class="fa fa-plus"></i></button></li>
        <li class="list-group-item">
          <p>my test tuote</p>
          <p class="author">(my test tuote)</p>
          <button class="input-group-text right-btn"><i class="fa fa-plus"></i></button></li>
        <li class="list-group-item">
          <p>my test tuote</p>
          <p class="author">(my test tuote)</p>
          <button class="input-group-text right-btn"><i class="fa fa-plus"></i></button></li>
        <li class="list-group-item">
          <p>my test tuote</p>
          <p class="author">(my test tuote)</p>
          <button class="input-group-text right-btn"><i class="fa fa-plus"></i></button></li>
        <li class="list-group-item">
          <p>my test tuote</p>
          <p class="author">(my test tuote)</p>
          <button class="input-group-text right-btn"><i class="fa fa-plus"></i></button></li>
        <li class="list-group-item">
          <p>my test tuote</p>
          <p class="author">(my test tuote)</p>
          <button class="input-group-text right-btn"><i class="fa fa-plus"></i></button></li>
        <li class="list-group-item">
          <p>my test tuote</p>
          <p class="author">(my test tuote)</p>
          <button class="input-group-text right-btn"><i class="fa fa-plus"></i></button></li>
      </ul>
    </div>
  </div>
</div>
